<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
  {{#each @dates as |date|}}
    <DateSelectionItem
      @selected={{eq @selected date}}
      {{on "click" (fn this.handleDateSelection date)}}
    >
      {{date.date}}
    </DateSelectionItem>
  {{/each}}
</div>